a {

	font-family: "Lato", sans-serif;
	list-style-type: none;
	text-decoration: none;
	color: black;

}



.header {

	padding: 2px;
	background-color: gainsboro;
	background-size: cover;
	display: flex;
	flex-direction: row;
	text-align: center;
	border-bottom: black solid 0.5px;

}

.number {

	float: left;
	text-indent: 80px;
	font-size: 0.8em

}

.socials {

	padding: 5px;
	flex: 1;
	text-align: right;
	margin: 5px;

}

.socials a {


	margin-left: 10px;
	float: right;
}


nav {


	background-color: gainsboro;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
}

.NavHead {

	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 20px;

}

nav ul {

	flex: 2;
	text-align: right;
	margin-right: 50px;
	justify-content: space-around;
	width: 90%;
	margin: auto;

}

nav a {

	font-size: 0.9em;
	word-spacing: 3px;
	color: black;
}

.links a {

	margin-right: 50px;
	padding-bottom: 2px;
	position: relative;
	color: black;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: 600;
}

.links a:after {

  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.15s ease-out;

}


.links a:hover {

	text-decoration: none;
  color: #2C2C2C;

}

.links a:hover:after {

	transform: scaleX(1);
  transform-origin: bottom left;


}

