a {

	list-style-type: none;
	text-decoration: none;
	font-family: 'Fjord One', serif;

}



.header {

	background-color: #414a4c;
	color: white;
	box-sizing: border-box;
	border-bottom: grey 0.2px solid;
}

.contacts {

	margin-left: 20px;
}

.contacts i {

	margin-left: 5px;
}


nav {

	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
}

.Navbar {

	background-color: #414a4c;
	display: flex;
	flex: 1;
	padding: 30px;
}

nav ul {

	flex: 1;
	margin: auto;
	text-align: right;
}

.links a {

	margin-right: 50px;
	padding-bottom: 2px;
	position: relative;
	color: white;
	font-size: 20px;
	letter-spacing: 0.5px;
	font: inherit;
	font-weight: 600;
	text-transform: uppercase;


}

.links a:after {

  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;

}


.links a:hover {

	text-decoration: none;
  color: #4AA2B4;

}

.links a:hover:after {

	transform: scaleX(1);
  transform-origin: bottom left;

}

@media screen and (max-width:1200px) {

	.logo {

		align-items: center;
	}

	nav ul {

		align-items: center;
	}

	.links {

		display: none;
	}
}

.home {

	display: flex;
	flex-direction: row;
	height: 120vh;
	justify-content: center;
	align-items: center;
	background-image: url(seminar4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	opacity: 95%;
	font: inherit;

}


.text1 {

	text-align: center;
	color: white;
	animation-name: drop2;
	animation-duration: 1.5s;
	font-size: 1.6em;
	opacity: 100%;

}

.text {

	font-family: 'raleway';
	font-size: 3em;

}

@keyframes drop2 {

	0% {

		opacity: 0;
		transform: translateY(80px);
	}

	100% {

		opacity: 1;
		transform: translateY(0px);

	}
}

button {

	padding: 15px 40px 15px 40px;


}

.button1 {

	background-color: whitesmoke;
  display: inline-block;
  box-shadow: inset 0 0 0 0 #1D6E96;
  transition: ease-out 0.6s;
  color: #006cff;
  margin: 10px;

}

.button2 {

	background-color: #1D6E96;
	color: white;
  display: inline-block;
  box-shadow: inset 0 0 0 0 #1D6E96;
  transition: ease-out 0.6s;
  margin: 10px;
}

.button1:hover {

  box-shadow: inset 400px 0 0 0 #1D6E96;
  color: white;
}

.button2:hover {

  box-shadow: inset 400px 0 0 0 white;
  color: #1D6E96;
}


.inspiration {

	display: flex;
	width: 100%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
	padding: 20px 0px 20px;
  background-color: whitesmoke;

}

.myseminar img {

	height: 60vh ;
	filter: drop-shadow(0px 5px 1px 1px black);
	margin-left: 20px;
}

.myseminar {

	flex: 1;
}

.inspo-content h1 {

	font-family: 'EB Garamond', serif;;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 40px;
}


.inspo-content {

	padding: 25px;
	font-size: 18px;
	text-align: center;
	font-family: 'Fjord One', serif;

}

@media screen and (max-width: 1024px) {

	.inspiration {

	flex-direction: column;
	}

	.inspo-content {

	margin-top: 5vh;
	text-align: center;

	}

	.inspo-content h1 {

	font-size: 30px;
	}

	.inspo-content {

		font-size: 20px;
	}

	.myseminar img {

		margin-top: 20px;
		background-position: center;
	}
}

.inspo3 {

	color: #B4844E;
	font-size: 20px;
}


.banner {

	background: #1D6E96;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
}

.banner-text {

	flex: 1;
	text-align: left;
	font-size: 28px;
	color: white;
}

.banner-text b {

	font-size: 31px;
	color: white;
}

.banner button {


	float: right;
	height: 10vh;
	color: blue;
	font-size: 20px;
  box-shadow: inset 0 0 0 0 #1D6E96;
  transition: ease-out 0.6s;
  color: #006cff;
}

.banner button:hover {

  box-shadow: inset 400px 0 0 0 #1D6E96;
  color: white;
}

.WhatIdo {


	background-color: lightgray;
	display: flex;
	width: 100%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
	padding: 10px;

}

.SecImg {

	height: auto;
}

.SecText {

	text-align: left;
	margin-right: 20px;
	font-family: 'Fjord One', serif;
	padding: 30px 30px 0px 30px;
}

.SecText h1 {

	font-family: 'EB Garamond', serif;
	font-size: 40px;
	text-align: left;
	margin-bottom: 90px;
	
	}

.SecText h1 b {

	font-family: 'EB Garamond', serif;
	color: #0087ca;
	padding: 10px;

}

.SecText p {

	font-size: 20px;
}


@media screen and (max-width: 1024px) 

{

	.WhatIdo {


	flex-direction: column;
	padding-bottom: 0px;

	}

	.SecText {

		text-align: center;
		margin-right: 10px;
	}

	.SecText h1 {

		padding: 10px 0px 10px;
		font-size: 30px;
	}

	.SecImg {

		margin-top: 30px;
	}

	.profile {

		flex-direction: column;
	}


}


.testimonials {

	display: inline-block;
	padding: 0px 30px 30px 30px;
	background-color: #B4844E;


}

.testimonial-header {

	font-size: 40px;
	text-align: center;
	padding: 50px;
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	color: white;
}

.profile {

	display: flex;
	margin: auto;
	flex: 33.33%;
	width: 100%;
	margin: auto;

}

.profile figure {

	align-items: center;
	padding: 30px;
	flex-direction: row;
}

.profile figure img {

	border-radius: 50%;

}

figure, .T1, .T2, .T3 {


	box-sizing: border-box;
	border: 0.5px solid grey;
	text-align: center;
	font-family: 'Fjord One', serif;

}

.T1, .T2, .T3 {

	background-color: lightgray;
	
}

figcaption {

 	padding-top: 20px;
 	font-size: 15px;

}

figcaption h1 {

	font-size: 30px;
	padding: 10px;
}

.T2 {

	padding: 70px;


}

.footer-container {

	background-color: #414a4c;
	padding-top: 50px;
}

.footer {

	width: 80%;
	height: 35vh;
	background-color: #414a4c;
	color: white;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.footer-heading {

	display: flex;
	flex-direction: column;
	flex: 1;
	font-family: 'raleway';
}

.footer-heading h2 {

	margin-bottom: 2rem;
	flex-direction: row;
}

.footer-heading a {

	color: white;
	text-decoration: none;
	font-family: 'Fjord One', serif;
}

.footer-heading a:hover {

	color: grey;
	transition: 0.3s ease-out;
}

.social-menu {

	display: flex;
	flex: 1;
	flex-direction: row;
	text-align: center;

}

.social-menu a {

	font-size: 23px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 50%;
	background-color: white;
}

.social-menu a:hover {

	background-color: gray;
	color: white;
}

